<h2>Welcome to course4U</h2>

<div>
  <form action="/auth/login" method="POST">
 
    <label>Email</label>
    <input type="email" name="email" placeholder="john@doe.com" />
    
    <label>Password</label>
    <input type="password" name="password" placeholder="********" />
      <button type="submit">Login</button>
    <a href="/auth/signup">Not registered yet? Sign up!</a>

    {{#if error}}
    <p style="color:rgb(218, 90, 90)">{{ error }}</p>
    {{/if}}
    
  </form>
</div>