<div class="signupHeader">
  <div class="iconMessage">
    <a href="/"><img src="/images/leftIcon.png" alt="icon Left" /></a>

    {{!-- {{#unless user}}
  <a href="/">Home page</a>
  <div>
    <a href="/auth/google">Login With Google</a>
  </div>
{{/unless}} --}}

    <h1>Sign up and start learning now.</h1>
  </div>
  <div class="container">
    <div id="imagen"><img src="/images/onlinecourse.jpg" alt="online course" />
    </div>
    <div class="signup-form">
      <form action="/auth/signup" method="POST">
        <label>Email</label>
        <input type="email" name="email" placeholder="andrewnice@hotmail.com" />
        <label>Username</label>
        <input type="text" name="username" placeholder="Andrew@2023" />
        <label>Password</label>
        <input type="password" name="password" placeholder="********" />

        {{#if error}}
          <p style="color: red;">{{error}}</p>
        {{/if}}

        <button type="submit">Subscribe</button>
        <p style="color: gray">
          By subscribing, you agree to our terms of use and Privacy Policy
        </p>
        <a href="/auth/login">Already have an account? Log in!</a>
        <div class="socialSignup">
          <h2> or connect with</h2>
          <a href="/auth/google">
            <img src="/images/googleLogo.png" alt="signup google" />
          </a>
          <a href="/auth/login">
            <img src="/images/facebookLogo.png" alt="signup facebook" />
          </a>
        </div>
      </form>
    </div>
  </div>

</div>
<script src="/script/signup.js"></script>