<div class="signupHeader">
  <!-- <a href="/"><img
      src="/images/leftIcon.png"
      alt="icon Left"
    /></a> -->
  <h1>Sign up and start learning now.</h1>
</div>
<div class="container">
  <div id="imagen"><img src="/images/onlinecourse.jpg" alt="online course" />
  </div>
  <div class="signup-form">
  <form action="/auth/signup" method="POST">
    <label>Email</label>
    <input type="email" name="email" placeholder="andrewnice@hotmail.com" />
    <label>Username</label>
    <input type="text" name="username" placeholder="Andrew@2023" />
    <label>Password</label>
    <input type="password" name="password" placeholder="********" />

    {{#if error}}
      <p style="color: red;">{{error}}</p>
    {{/if}}

    {{#if subscribe}}
        <button type="submit" value="YES" name="subscribe">Continue to checkout</button>
    {{else}}
        <button type="submit" value="NO" name="subscribe">Signup</button>
    {{/if}}

    <p style="color: gray">
      By subscribing, you agree to our terms of use and Privacy Policy
    </p>
    <a href="/auth/login">Already have an account? Log in!</a>
    <div class="socialSignup">
      <h2> or connect with</h2>
      <a href="/auth/login">
        <img src="/images/googleLogo.png" alt="signup google" />
      </a>
      <a href="/auth/login">
        <img src="/images/facebookLogo.png" alt="signup facebook" />
      </a>
    </div>
  </form>
  </div>
</div>
<script src="/script/signup.js"></script>