<div class="signupHeader">
  <!-- <a href="/"><img
      src="/public/images/leftIcon.png"
      alt="icon Left"
    /></a> -->
  <h1>Welcome to course4U</h1>
</div>
<div class="container">
  <div id="imagen"><img
      src="/public/images/onlinecourse.jpg"
      alt="online course"
    />
  </div>
  
    <form  id="form" action="/auth/signup" method="POST">
      <label>Email</label>
      <input type="email" name="email" placeholder="john@doe.com" />

      <label>Username</label>
      <input type="text" name="username" placeholder="JohnDoe88" />

      <label>Password</label>
      <input type="password" name="password" placeholder="********" />

      {{#if error}}
        <p style="color: red;">{{error}}</p>
      {{/if}}
      <button type="submit">Sign up</button>
      <a href="/auth/login">Already have an account? Log in!</a>
    </form>
    <div class="socialSignup">
      <h2> or connect with</h2>
      <a href="/auth/login">
        <img src="/public/images/googleLogo.png" alt="signup google" />
      </a>
      <a href="/auth/login">
        <img src="/public/images/facebookLogo.png" alt="signup facebook" />
      </a>
     </div>
 </div>
