<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='/stylesheets/style.css' rel="stylesheet"/>
  <title>Project module 2</title>
</head>
<body>

<nav>
  <ul>
    {{#if user}}
      <li id="to-right"><a href="/auth/login">LOG OUT</a> </li>
      <span> | </span>
      <a href="/user/profile">My account</a></li>
      <a href="/">Home</a></li>
    {{else}}
      <li id="to-right"><a href="/auth/signup">SIGNUP</a>
        <span> | </span>
        <a href="/auth/login">LOGIN</a></li>
    {{/if}}
  </ul>
</nav>


    {{{ body }}}
</body>
</html>