<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link href="/stylesheets/style.css" rel="stylesheet" />
    <link href="/stylesheets/style.course.css" rel="stylesheet" />
    <link href="/stylesheets/style.detail.css" rel="stylesheet" />
    <link href="/stylesheets/style.about.css" rel="stylesheet" />
    <title>Project module 2</title>
  </head>
  <body>

    <nav class="menu">
      <img
        class="app-logo"
        src="/images/SVG/LOGO/LOGO.svg"
        alt="course4u logo"
      />
      
      <form class="search_form" method="GET" action="/courses/search">
        <label>Search</label>
        <input id="input_search" type="text" name="title" placeholder="What do you want to learn?"/>
          <span class="btn_close">  <img src="/images/closeBtn.png" alt="Icon close">
        </span>
         <button type="submit"><img src="/images/search-Icon.png" alt="search icon"></button>
      </form>

      {{!-- <ul class="menu_nav menu_items">
        {{#if user}}
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/courses/newCourse">Add Course</a></li>
          <li><a href="/courses/myCourses">My courses</a></li>
          <li><a href="/user/profile">Profile</a></li>
          <li><a href="/auth/logout">Log out</a></li>
           <span class="btn_close2"> <img class="btn_close" src="/images/closeBtn.png" alt="Icon close"></span>
        {{else}}
          <span class="btn_close2"> <img class="btn_close" src="/images/closeBtn.png" alt="Icon close"></span>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/auth/signup">Sign up</a></li>
          <li><a href="/auth/login">Log in</a></li>
          
        {{/if}}
      </ul>  --}}


<ul class="menu_nav menu_items">
 {{#if (isUser user.role)}}
    <li class="active"><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/courses/myCourses">My courses</a></li>
    <li><a href="/user/profile">Profile</a></li>
    <li><a href="/auth/logout">Log out</a></li>
    <span class="btn_close2"> <img class="btn_close" src="/images/closeBtn.png" alt="Icon close"></span>
    {{/if}}
  {{#if (isAdmin user.role)}}
   <li class="active"><a href="/">Home</a></li>
   <li><a href="/user/profile">Profile</a></li> 
  <li><a href="/about">About</a></li>
    <li><a href="/courses/newCourse">Add Course</a></li>
     <li><a href="/auth/logout">Log out</a></li>
    {{/if}}
    {{#unless user}}
    <span class="btn_close2"> <img class="btn_close" src="/images/closeBtn.png" alt="Icon close"></span>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/auth/signup">Sign up</a></li>
    <li><a href="/auth/login">Log in</a></li>
  {{/unless}}
</ul>

  <span class="btn_menu"><img class="btn_menu" src="/images/menu_icon.png" alt="Icon menu" />    </span>
  <span class="btn_search">
    <img "btn_search" src="/images/search-Icon.png" alt="btn search"/>
  </span>
</nav>

{{!-- <footer class="offerFooter">
  <div class="h3OfferFooter">
    <h3>Starting at E21.99/month for all courses</h3>
  </div>
  <div class="btnOfferFooter">
    <a href="/auth/signup">Subscribe</a>
  </div>
</footer> --}}

{{#unless user.isPremiumMember}}
<footer class="offerFooter">
  <div class="offerFooter-top">
    <div class="h3OfferFooter">
      <h3 class="h3OfferFooter">Starting at €21.99/month for all courses</h3>
    </div>
  </div>
  <div class="offerFooter-bottom">
    <div class="btnOfferFooter">
      <a {{#if user}} href="/auth/checkout" {{else}} href="/auth/signup&subscribe" {{/if}} >Subscribe</a>
    </div>
  </div>
</footer>
{{/unless}}

    {{{body}}}

  <footer class="mainFooter">
    <div class="container">
        <p>@2023 Course4U Inc. Todos los derechos reservados.</p>
            <div class="logo">
                <img
                  src="/images/SVG/LOGO/LOGO.svg"
                  alt="course4u logo"
                />
           </div>
        <div class="social-icons">
            <a href="#"><img
                src="/images/facebook-icon.png"
                class="facebook-logo"
              /></a>
            <a href="#"><img
                src="/images/instagram-icon.png"
                class="instagram-logo"
              /></a>
            <a href="#"><img
                src="/images/linkedin-icon.png"
                class="linkedin-logo"
              /></a>
            <a href="#"><img
                src="/images/twitter-icon.png"
                class="twitter-logo"
              /></a>
          </div>
        </div>
    </footer>

    <script src="/script/script.js"></script>
    <script src="/script/Search.js"></script>

  </body>
</html>