<div class="profilePage">
   {{!-- <div class="iconMessage">
  <a href="/"><img
      src="/images/left-arrow.png"
      alt="icon Left"
    /></a>  --}}
    <img src="{{user.imageUrl}}" class="card-img-profile" alt="imageUrl" />
  <div class="cardEditPass">
    <h2>Update Profile's Photo</h2>
    <form class="formEditPhoto" 
      action="/user/profile/editPhoto"
      method="POST"
      enctype="multipart/form-data">
      <label>Photo:
        <input type="file" name="imageUrl" required=" true" />
      </label>
      <button type="submit">Save changes</button>
      <a href="/user/profile/deletePhoto">Delete image</a>
    </form>
    {{#if message}}
      <div class="message">{{message}}</div>
    {{/if}}
  </div>
</div>