<img src="/public/images/profileIcon.png" alt="online course" />
<div class="profilePage">
  <h1> Profile </h1>
  <h1>{{user.username}}</h1>
  <h2>Email: {{user.email}}</h2>
  <div class="editBtn">
    <a href="/user/profile/edit">Edit your profile</a>
  </div>
  <a href="/">Home</a>
</div>