<div class="profilePage">
  <h1>My account</h1>
    <img src="{{user.imageUrl}}" class="card-img-profile" alt="imageUrl">
  <div class="card-profile">
  <h1>{{user.username}}</h1>
  <h2>Email: {{user.email}}</h2>
  <div class="editBtn">
    <a href="/user/profile/edit">Change password</a>
    <a href="/user/profile/editPhoto">Edit profile picture</a>
  </div>
  </div>
</div>
<script src="/script.js"></script>
