<div class="profilePage">
   <div class="iconLeft">
  <a href="/user/profile"><img
      src="/images/left-arrow.png"
      alt="icon Left"
    /></a>  
  </div>
    <img src="{{user.imageUrl}}" class="card-img-profile" alt="imageUrl">
  <div class="cardEditPass">
    <h1> Hola {{user.username}}</h1>
    <h2> Change your password </h2>
    <form class="formEditPass"  method="POST" action="/user/profile/edit">
      <label>Current password:</label>
      <input
        type="password"
        name="currentPassword"
        placeholder="********"
        required
      />
      <label>New password:</label>
      <input
        type="password"
        name="newPassword1"
        placeholder="********"
        required
      />
      <label>Confirm new password:</label>
      <input
        type="password"
        name="newPassword2"
        placeholder="********"
        required
      />
      <button type="submit">Save new password</button>
    </form>
    {{#if message}}
      <div class="message">{{message}}</div>
    {{/if}}
  </div>
</div>