.detailsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100hv;
  max-width: 1080px;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.subheader {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.offeredBy {
  font-size: 14px;
}
.logos {
  width: 30px;
  height: 30px;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
}
.sectionTitle {
  font-size: 20px;
  font-weight: bold;
}
.courseDetailsH1 {
  font-size: 24px;
}

.description {
  text-align: justify;
  font-size: 18px;
}

.groupFeatures {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.svg_features {
  width: 60px;
  height: 60px;
}

.card-featContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.featuresDescription {
  text-align: start;
  font-size: 14px;
  width: 200px;
}

.card-content {
  margin-top: 20px;
}

.div_content {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.svg_process_color {
  object-fit: cover;
  position: absolute;
  z-index: 2;
  display: inline-block;
  transition-property: width;
  transition-timing-function: ease-in-out;
  transition-duration: 1.5s;
}

.transformed_svg {
  transition-property: width;
  transition-timing-function: ease-in-out;
  transition-duration: 1.5s;
}
.div_content img {
  margin-right: 20px;
}

.div_content h2 {
  margin-bottom: 10px;
}

.div_content p {
  margin: 0;
  padding: 0;
}

.card-reasons {
  margin-top: 20px;
}

.card-reasons h6 {
  margin-bottom: 10px;
}

.card-reasons p {
  margin: 0;
  padding: 0;
}

.weekImage {
  width: 200px;
  border: 1px solid #333;
}

/****** courseView feature part */
.featuresCourse {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: auto;
}

.featuresCourse h1 {
  font-size: 2rem;
  text-align: center;
  margin: 2rem 0;
}

.featuresCourse h2 {
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem 0;
}

.featuresCourse ul {
  list-style: none;
  margin: auto;
  padding: 0;
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.featuresCourse li {
  margin: 1rem;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  width: 50%;
  max-width: 300px;
  text-align: justify;
}

.featuresCourse h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.featuresCourse p {
  font-size: 1rem;
  line-height: 1.5;
}

@media only screen and (max-width: 1080px) {
  .featuresCourse li {
    max-width: 700px;
  }
}

@media only screen and (max-width: 858px) {
  .featuresCourse h1 {
    font-size: 1.5rem;
  }

  .featuresCourse h2 {
    font-size: 1.2rem;
  }

  .featuresCourse li {
    max-width: 400px;
  }
  .courseDetailsH1 {
    font-size: 18px;
  }
}

.detailsPage {
  min-height: 100hv;
  max-width: 1080px;
  margin: auto;
  padding: 5vw;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.card-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.card-featContent {
  text-align: center;
  margin: 20px;
}

.imgFeatures {
  width: 60px;
  height: 60px;
  margin: 20px;
}

.svg_features {
  width: 100%;
}

.card-offered {
  text-align: center;
  margin: 20px;
}

.card-offered img {
  width: 100px;
  height: 100px;
  margin-top: 20px;
}

.card-skillsAbout {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.card-skills {
  width: 100%;
}

.card-skills h5 {
  margin-bottom: 10px;
}

.card-skills p {
  margin: 0;
  padding: 0;
}

.card-content {
  margin-top: 20px;
}

.div_content {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.div_content img {
  margin-right: 20px;
}

.div_content h2 {
  margin-bottom: 10px;
}

.div_content p {
  margin: 0;
  padding: 0;
}

.card-reasons {
  margin-top: 20px;
}

.card-reasons h6 {
  margin-bottom: 10px;
}

.card-reasons p {
  margin: 0;
  padding: 0;
}

.star-reviews {
  display: inline-block;
  width: 80px;
  height: 16px;
  background-image: url("/images/SVG/REVIEWS/Yellow.svg");
  background-size: contain;
  margin-right: 10px;
}

.star-reviews#1 {
  background-position: 0 0;
}

.star-reviews#2 {
  background-position: -16px 0;
}

.star-reviews#3 {
  background-position: -32px 0;
}

.star-reviews#4 {
  background-position: -48px 0;
}

.star-reviews#5 {
  background-position: -64px 0;
}

.review-form {
  margin-top: 20px;
}

.review-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.stars-view {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 200px;
  margin-bottom: 10px;
}

.star {
  width: 25px;
  height: 25px;
}

.review-form input[type="number"] {
  display: none;
}

.review-form input[type="text"] {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.review-form button[type="submit"] {
  display: block;
  margin: 0 auto;
  background-color: rgb(10, 105, 148);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.stars-view,
.star-reviews {
  display: flex;
  flex-direction: row;
  width: 200px;
}

.stars-view > *,
.star-reviews > * {
  width: 19%;
  padding: 0.5%;
}

.star {
  transition-property: content;
  transition-timing-function: ease-in-out;
  transition-property: 0.5s;
}

.highlight {
  transition-property: content;
  content: url("/images/SVG/REVIEWS/Sky-blue.svg");
  transition-timing-function: ease-in-out;
  transition-property: 0.5s;
}

.star:hover,
.star:active {
  content: url("/images/SVG/REVIEWS/Sky-blue.svg");
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: fit-content;
  padding-bottom: 20px;
}

.reviews p {
  font-size: 16px;
  width: 100%;
}

.reviews > * {
  width: fit-content;
}

.reviews form {
  display: flex;
  align-items: center;
  border-color: #333;
  margin: 0% 2%;
}

.reviews form a {
  text-decoration-line: none;
  background-color: rgb(100, 149, 237);
  color: #fff;
  width: 80px;
  text-align: center;
  border-radius: 5px;
  font-weight: 700;
  margin-top: 30px;
}
.reviews form a:hover {
  color: #38598b;
}

/* ******review container in details page******/

.review-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4% 0% 10% 0%;
}

.review-form label {
  margin: 10px 0;
  color: #38598b;
}

.review-form input[type="number"],
.review-form input[type="text"] {
  padding: 10px;
  margin: 10px 0;
  width: 300px;
}

.review-form button[type="submit"],
.button_enroll,
.button_delete,
.button_edit {
  text-align: center;
  padding: 10px 20px;
  background-color: #6495ed;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: 150px;
  text-decoration: none;
}
.button_enroll:hover {
  background-color: #38598b;
}
.button_delete:hover {
  background-color: #38598b;
}
.button_edit:hover {
  background-color: #38598b;
}

.navbar_content_title,
.div_content,
.div_content div,
.div_content div:last-child,
.div_content div:last-child > * {
  display: flex;
  flex-wrap: wrap;
}

.navbar_content_title,
.div_content {
  width: 100%;
  justify-content: space-evenly;
  /* flex-wrap: nowrap; */
}

.div_content div,
.div_content div:last-child,
.div_content div:last-child > * {
  width: 100%;
  justify-content: center;
}
.div_content div:last-child > * {
  padding: 1%;
}
.navbar_content_title h4 {
  padding: 2%;
  font-size: 14px;
}

#PREWORK {
  display: flex;
}

#PREWORK div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.no_active_display {
  display: none;
}

.active_display {
  display: flex;
}

.svg_process_color {
  object-fit: cover;
  position: absolute;
  z-index: 2;
  display: inline-block;
  transition-property: width;
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
}

.transformed_svg {
  transition-property: width;
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
}

.delay-1 {
  transition-delay: 0.5s;
}

#div_svg {
  margin-top: 10%;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  width: 90%;
}

@media (max-width: 1080px) {
  h1 {
    font-size: 24px;
  }

  .div_content h2 {
    font-size: 16px;
  }

  .sectionTitle {
    font-size: 16px;
  }

  .description {
    font-size: 13px;
  }
}
@media (max-width: 858px) {
  .courseTitle {
    font-size: 18px;
  }
}
