/*******  Course view Page-Home ******/

.containerHome {
  padding-top: 85px;
  margin-top: -70px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100vh;
  padding-bottom: 100px;
}
.popup-message h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.2rem;
  text-align: center;
  color: #38598b;
  margin-bottom: 20px;
  padding-top: 100px;
}
.cardPlan {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  width: 100%;
  background-color: rgb(173, 206, 234);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  padding-top: 90px;
  padding-bottom: 20px;
}

.card-plan-Premium {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 140px;
}

.card-plan-Premium h2 {
  font-size: 2em;
  color: rgb(63, 62, 62);
}

.card-plan-premium h3 {
  margin: 5px 0;
  font-size: 1.3em;
  color: rgb(63, 62, 62);
}
.card-plan-Premium h4 {
  font-size: 1.2em;
  margin-bottom: 10px;
  margin-top: 0px;
  color: rgb(63, 62, 62);
}
.card-plan-Premium p {
  font-size: 1em;
  margin-bottom: 10px;
  margin-top: 0px;
  color: rgb(63, 62, 62);
}
.card-plan-Premium a {
  font-size: 1.4em;
  text-decoration: none;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: rgb(100, 149, 237);
  color: #fff;
  width: 150px;
  height: auto;
  border-radius: 10px;
  padding: 10px;
  transition: background-color 0.3s ease-in-out;
}

.card-plan-Premium a:hover {
  background-color: rgb(208, 220, 249);
  color: #333;
}
.homePic {
  width: 30%;
  padding-right: 5%;
}
.homePic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 70%;
  overflow: hidden;
  margin: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  transform: skewY(-3deg);
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
.card-course {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  min-height: 250px;
  padding: 0.5em;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.card-course:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.card-course h3 a {
  text-decoration: none;
  color: inherit;
}
.card-course h4 {
  font-size: 1.2em;
  margin-bottom: 1em;
  color: rgb(63, 62, 62);
}

.card-course img {
  width: 100%;
  max-width: 150px;
  height: auto;
  object-fit: cover;
  margin-bottom: 1em;
}

.card-course p {
  font-size: 1em;
  margin-bottom: 1em;
  color: rgb(63, 62, 62);
}

.card-course p a {
  color: rgb(84, 136, 232);
  text-decoration: none;
  transition: all 0.2s;
}

.card-course p a:hover {
  color: #053691;
}
/*****************SLIDER CAROUSEL ******/
.slider {
  width: 100%;
  margin: 0px;
  overflow: hidden;
}

.slide-track {
  display: flex;
  flex-direction: row;
  animation: scroll 20s linear infinite;
  width: 10000px;
}

.slide {
  width: 250px;
  height: 100px;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@media screen and (max-width: 1080px) {
  .slide {
    width: 200px;
    height: 80px;
  }
}
@media screen and (max-width: 858px) {
  .slide {
    width: 150px;
    height: 50px;
  }
}

@media only screen and (max-width: 1300px) {
  .card-plan-Premium h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .card-plan-Premium h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .card-plan-Premium {
    width: 40%;
  }
  .homePic {
    width: 376px;
    height: 300px;
  }
}
@media only screen and (max-width: 1080px) {
  .popup-message h1 {
    font-size: 1rem;
  }
  .homePic {
    width: 276px;
    height: 200px;
  }
  .cardPlan {
    width: 100%;
    gap: 10px;
    height: 200px;
  }
  .card-plan-Premium p {
    font-size: 12px;
    width: 60%;
  }
  .card-plan-Premium {
    width: 40%;
    text-align: center;
  }
  .card-plan-Premium h2 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .card-plan-Premium h3 {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .card-plan-Premium h4 {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .card-plan-Premium a {
    font-size: 0.8em;
    width: 100px;
    height: auto;
  }
}
@media only screen and (max-width: 858px) {
  .containerHome {
    padding-top: 80px;
    margin-top: -50px;
    padding-bottom: 60px;
  }

  .popup-message h1 {
    font-size: 0.8rem;
    margin-bottom: 15px;
  }

  .cardPlan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 400px;
    padding-top: 100px;
    padding-bottom: 20px;
  }

  .card-plan-Premium {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: fit-content; */
    height: 30%;
  }

  .card-plan-Premium h2 {
    font-size: 1.2em;
    margin: 0px;
    padding: 0%;
  }

  .card-plan-premium h3 {
    font-size: 0.8em;
    margin: 0px;
    padding: 0%;
  }

  .card-plan-Premium h4 {
    font-size: 1em;
    margin: 0px;
    padding: 0%;
  }
  .card-plan-Premium p {
    font-size: 0.8em;
    margin: 0px;
    padding: 0%;
  }

  .card-plan-Premium a {
    font-size: 1em;
  }

  .homePic {
    width: 60%;
    margin: auto;
  }
  .homePic img {
    margin: 10px;
    transform: skewY(0deg);
  }

  .card-container {
    gap: 30px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .card-course {
    width: 40%;
    /* min-height: 50px; */
    height: 80px;
  }

  .card-course h4 {
    font-size: 0.7em;
    font-weight: 900;
    margin-bottom: 0em;
    color: rgb(63, 62, 62);
  }
  .card-course p {
    font-size: 0.6em;
    width: 90%;

    font-weight: 900;
    margin-bottom: 1em;
    color: rgb(63, 62, 62);
  }
  .card-course img {
    /* width: 100%; */
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 1em;
  }
  .course-form input[type="text"] {
    width: 90%;
    margin-bottom: 10px;
  }
  .course-form {
    flex-direction: column;
    width: 90%;
    margin-top: 10px;
  }
  .course-form label {
    font-size: 1.2em;
  }

  .course-form button[type="submit"] {
    width: 45%;
    font-size: 1.2em;
    border-radius: 5px;
  }
  #select {
    width: 90%;
    margin: 0 auto;
    margin-top: -3%;
    padding: 2%;
    background-color: #eaf5f8;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    outline: none;
  }
}
@media screen and (max-width: 1080px) {
  .course-form button[type="submit"] {
    width: 30%;
    font-size: 1.2em;
    border-radius: 5px;
  }
}
/****** courseView feature part */
.featuresCourse {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: auto;
}

.featuresCourse h1 {
  font-size: 2rem;
  text-align: center;
  margin: 2rem 0;
}

.featuresCourse h2 {
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem 0;
}

.featuresCourse ul {
  list-style: none;
  margin: auto;
  padding: 0;
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.featuresCourse li {
  margin: 1rem;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  width: 50%;
  max-width: 300px;
  text-align: justify;
}

.featuresCourse h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.featuresCourse p {
  font-size: 1rem;
  line-height: 1.5;
}

@media only screen and (max-width: 1080px) {
  .featuresCourse li {
    max-width: 700px;
  }
}

@media only screen and (max-width: 858px) {
  .featuresCourse h1 {
    font-size: 1.5rem;
  }

  .featuresCourse h2 {
    font-size: 1.2rem;
  }

  .featuresCourse li {
    max-width: 400px;
  }
}

/* Estilos para pantallas de escritorio */
.detailsPage {
  min-height: 100hv;
  max-width: 1080px;
  margin: auto;
  padding: 5vw;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.card-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.card-featContent {
  text-align: center;
  margin: 20px;
}

.imgFeatures {
  width: 60px;
  height: 60px;
  margin: 20px;
}

.svg_features {
  width: 100%;
}

.card-offered {
  text-align: center;
  margin: 20px;
}

.card-offered img {
  width: 100px;
  height: 100px;
  margin-top: 20px;
}

.card-skillsAbout {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.card-info {
  width: 50%;
}

.card-skills {
  width: 100%;
}

.card-skills h5 {
  margin-bottom: 10px;
}

.card-skills p {
  margin: 0;
  padding: 0;
}

.card-content {
  margin-top: 20px;
}

.div_content {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.div_content img {
  margin-right: 20px;
}

.div_content h2 {
  margin-bottom: 10px;
}

.div_content p {
  margin: 0;
  padding: 0;
}

.card-reasons {
  margin-top: 20px;
}

.card-reasons h6 {
  margin-bottom: 10px;
}

.card-reasons p {
  margin: 0;
  padding: 0;
}

.star-reviews {
  display: inline-block;
  width: 80px;
  height: 16px;
  background-image: url("/images/SVG/REVIEWS/Yellow.svg");
  background-size: contain;
  margin-right: 10px;
}

.star-reviews#1 {
  background-position: 0 0;
}

.star-reviews#2 {
  background-position: -16px 0;
}

.star-reviews#3 {
  background-position: -32px 0;
}

.star-reviews#4 {
  background-position: -48px 0;
}

.star-reviews#5 {
  background-position: -64px 0;
}

.review-form {
  margin-top: 20px;
}

.review-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.stars-view {
  display: flex;
  margin-bottom: 10px;
}

.star {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.review-form input[type="number"] {
  display: none;
}

.review-form input[type="text"] {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.review-form button[type="submit"] {
  display: block;
  margin: 0 auto;
  background-color: rgb(10, 105, 148);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/***** search view ******/
.searchPage {
  width: 100%;
  min-height: 78vh;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.searchPage h3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 50px;
  color: rgb(63, 62, 62);
}
.searchContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 70px;
}
.contentSearch {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}
.searchCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  min-height: 250px;
  padding: 0.5em;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.searchCard:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.searchCard h3 a {
  text-decoration: none;
  color: inherit;
}
.searchCard h4 {
  font-size: 1em;
  margin-bottom: 1em;
  color: rgb(63, 62, 62);
}

.searchCard img {
  width: 100%;
  max-width: 150px;
  height: auto;
  object-fit: cover;
  margin-bottom: 1em;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.searchContainer p {
  font-size: 1.2em;
  font-weight: 800;
  color: rgb(63, 62, 62);
}
.searchContainer a {
  width: 30%;
  border-radius: 5px;
  background-color: rgb(100, 149, 237);
  text-decoration: none;
  color: white;
  height: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  display: inline-block;
  vertical-align: middle;
  align-items: center;
  text-align: center;
}

.searchContainer a:hover {
  background-color: #38598b;
  color: #fff;
}

@media screen and (max-width: 1080px) {
  .searchPage h3 {
    padding-bottom: 30px;
    font-size: 18px;
  }
  .searchContainer {
    gap: 50px;
  }
  .searchCard {
    max-width: 250px;
    min-height: 200px;
  }
  .searchCard h4 {
    font-size: 0.8em;
  }
  .searchCard img {
    max-width: 120px;
  }
  .searchContainer p {
    font-size: 0.9em;
  }
  .searchContainer a {
    width: auto;
    font-size: 0.9em;
  }
}
@media screen and (max-width: 858px) {
  .searchContainer {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
  }
  .searchContainer div {
    width: 50%;
    margin-bottom: 30px;
  }
}

/***************** myCourse page (list of my courses) ***********/
h1 {
  color: rgb(63, 62, 62);
}
.myCourse {
  width: 100%;
  min-height: 100vh;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.myCourseDetails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.courseItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 25px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.courseImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.courseTitle {
  text-align: center;
  width: 100%;
  font-size: 16px;
  color: #333;
}

.courseDescription {
  width: 90%;
  font-size: 14px;
  color: #444;
  margin-top: 10px;
  text-align: justify;
}

.courseItem a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30%;
  padding: 0.35em 1.2em;
  border: 0.2em solid;
  border-radius: 10px;
  background-color: rgb(100, 149, 237);
  margin: 0 0.3em 0.3em 0;
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
}

@media only screen and (max-width: 858px) {
  .courseItem{
    width: 130px;
    height: auto;
  }
  .courseTitle {
    font-size: 11px;
  }  
  .courseDescription {
    font-size: 9px;
  }  

  .courseItem a {
    width: 40%;
    font-size: 9px;
  }  
}

/*
@media only screen and (max-width: 1080px) {
  .myCourseDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }
  .myCourseDetails img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 858px) {
  .myCourseDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
    margin: 0px;
  }
  .myCourseDetails img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 250px;
    margin-bottom: 20px;
  }
  .myCourse h1 {
    font-size: 20px;
    margin-bottom: 20px;
    color: rgb(63, 62, 62);
  }
  .myCourse h4 {
    font-size: 16px;
    margin-bottom: 20px;
    color: rgb(63, 62, 62);
    font-weight: bold;
  }
  .mycourse p {
    font-size: 14px;
    margin-bottom: 20px;
    color: rgb(63, 62, 62);
    font-weight: 800;
  }
}

/******************************my course video **********/
.video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  height: 100vh;
}

.video-player {
    width: 60%;
    height: 40%;
}

p {
  font-size: 24px;
  color: #333;
  text-align: center;
}

@media screen and (max-width: 1080px) {
  p {
    font-size: 20px;
  }
}

@media screen and (max-width: 858px) {
  p {
    font-size: 16px;
  }
  #video-container {
    margin-bottom: 10px;
  }
}