body {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: #f5f5f5;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.welcome-section,
.about-section {
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto;
}
.welcome-section {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  width: 50%;
  text-align: justify;
}

.about-container p {
  font-size: 1rem;
  text-align: justify;
}
.about-container {
  width: 100%;
  padding-top: 85px;
  padding-bottom: 100px;
  position: relative;
}

.header-text {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgb(63, 62, 62);
}

.img_About {
  display: inline-block;
  margin: 20px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 40px;
  transition: all 0.3s ease-in-out;
}

.img_About:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.img_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 30px;
}

.about-section {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  width: 50%;
  text-align: justify;
}

.features-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: auto;
  width: 70%;
  height: 400px;
}
.features-section-text {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  width: 30%;
  height: 400px
}

.features-section p {
  font-size: 16px;
  text-align: justify;
}
.features-section,
.cta-section {
  background-color: #f7f7f7;
  color: #333;
}

.cta-section {
  background-color: rgba(128, 167, 238, 0.1);
  color: rgb(67, 66, 66);
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box;
  padding-bottom: 40px;
  padding-top: 20px;
  font-weight: 600;
  font-size: 1em;
  position: relative;
  width: 50%;
  margin: 0 auto;
}

.cta-section-content h2 {
  font-size: 1.4em;
  margin: 0;
  color:#38598b;
  font-weight: bold;
}
.cta-section p {
  font-size: 1em;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .features-section {
    width: 80%;
  }
  .header-text {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    justify-content: center;
  }
  .cta-section img {
    width: 180px;
    height: 80px;
    right: 0;
  }
  .cta-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 60%;
    height: auto;
  }
}

@media only screen and (max-width: 858px) {

  .welcome-section,
  .about-section {
    width: 70%;
  }

  .header-text {
    font-size: 1.2em;
    justify-content: center;
  }

  .img_About {
    width: 100px;
    height: 100px;
  }

  .about-section {
    width: 70%;
  }
  .about-container p {
    font-size: 0.7rem;
    text-align: justify;
  }

  .features-section {
    flex-direction: column;
    width: 70%;
    height: auto;
  }

  .features-section-text{
    width: 100%;
    height: auto;
  }

  .cta-section {
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.8em;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }

  .cta-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    /* align-items: center; */
    margin: auto;
    width: 100%;
    height: auto;
  }

  .cta-section-content h2 {
    font-size: 1em;
    padding-bottom: 5px;
    margin: 0;
    color:#38598b;
    font-weight: bold;
  }

  .cta-section-content p {
    font-size: 0.8em;
    margin: 0;
  }

  .cta-section img {
    width: 100px;
    height: 60px;
    right: 20px;
  }
}
