/* Online Course Page */
.popup-message h1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.5rem;
  text-align: center;
  color: #38598b;
  margin-bottom: 20px;
  margin-top: 10px;

}
h3 {
  font-size: 2rem;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  margin-top: 50px;
}
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 50px;
  margin-right: 50px;
}
.card-course {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  min-height: 350px;
  padding: 0.5em;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.card-course:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.card-course h3 a {
  text-decoration: none;
  color: inherit;
}
.card-course h4 {
  font-size: 1.4em;
  margin-bottom: 1em;
  color: rgb(63, 62, 62);
}

.card-course img {
  width: 100%;
  max-width: 150px;
  height: auto;
  object-fit: cover;
  margin-bottom: 1em;
}

.card-course p {
  font-size: 1.2em;
  margin-bottom: 1em;
  color: rgb(63, 62, 62);
}

.card-course p a {
  color: rgb(84, 136, 232);
  text-decoration: none;
  transition: all 0.2s;
}

.card-course p a:hover {
  color: #053691;
}

@media (max-width: 858px) { 

  .popup-message h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1rem;
    text-align: center;
    color: #38598b;
    margin-bottom: 20px;
    margin-top: 10px;
  
  }
  .card-container {
    margin-top: 50px;
  }
  .card-course {
    width: 70%;
    min-height: 100px;
  }
  h3 {
    font-size: 1.5rem;
    margin-top: 20px;
  }
  .card-course h4 {
    font-size: 1em;
    margin-bottom: 1em;
    color: rgb(63, 62, 62);
  }
  .card-course p {
    font-size: 0.8em;
    margin-bottom: 1em;
    color: rgb(63, 62, 62);
  }
  .course-form input[type="text"] {
    width: 90%;
    margin-bottom: 10px;
  }
  .course-form {
    flex-direction: column;
    width: 90%;
    margin-top: 10px;
  }
  .course-form label {
    font-size: 1.2em;
  }

  .course-form button[type="submit"] {
    width: 45%;
    font-size: 1.2em;
    border-radius: 5px;
  }
  #select {
    width:90%;
    margin: 0 auto;
    margin-top: -3%;
    padding: 2%;
    background-color: #eaf5f8;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    outline: none;
  }
  
}
@media screen and (max-width: 1080px) {
  .course-form button[type="submit"] {
    width: 30%;
    font-size: 1.2em;
    border-radius: 5px;
  }
}



  
    
    /*course ViewDetails*/

    .detailsPage {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 80%;
      margin: 50px auto;
    }
    
    .detailsPage h1 {
      font-size: 2em;
      margin: 30px 0;
    }
    
    .detailsPage a, .button_delete, .button_edit {
      font-family: "Montserrat";
      font-size: 2em;
      margin-bottom: 30px;
      text-decoration: none;
    }
    
  .card-plan-Premium {
    background-color: #eee;
    padding: 20px;
    width: 40%;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
    
    .card-plan-Premium h2 {
      font-size: 1.5em;
      margin-bottom: 10px;
    }
    
    .card-plan-Premium h3 {
      font-size: 1.2em;
      margin-bottom: 10px;
    }
    
    .card-plan-Premium a {
      font-size: 1.2em;
      text-decoration: none;
      margin-bottom: 10px;
      background-color: rgb(100, 149, 237);
      color:#333;
      width: 150px;
      height: auto;
      border-radius: 10px;
    }
    .card-plan-Premium a:hover {
      color: rgb(208, 220, 249);
    }
    
    .card-plan-Premium p {
      font-size: 1.2em;
      margin-bottom: 10px;
    }
    
    .card-info,.div_content {
      background-color: #eee;
      padding: 20px;
      width: 100%;
      border-radius: 10px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
      margin-bottom: 30px;
    }
    
    .card-info p {
      font-size: 1.2em;
      margin-bottom: 10px;
    }
    
    .card-skills {
      background-color: #eee;
      padding: 20px;
      width: 100%;
      border-radius: 10px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
      margin-bottom: 30px;
    }
    
    .card-skills p {
      font-size: 1.2em;
      margin-bottom: 10px;
    }
    .card-featContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width:60%;
      margin-bottom: 20px;
    }
    .card-featAbout{
      display: flex;
      flex-direction: row; 
      gap:50px;
    }
    .card-skillsAbout {
      width: 100%;
    }
    .card-features {
      display: flex;
      flex-direction: row;
      flex-wrap:wrap;
      margin: auto;
      width:100%;
    }
    
    .card-features img {
      width: 50%;
      margin: 10px;
      align-items:flex-start;
    }
    
    .card-features h5 {
      font-size: 0.8rem;
      margin: 10px;
    }
    
    .card-features p {
      font-size: 0.8rem;
    }
    .imgFeatures {
      display: flex;
      flex-direction: column;
      align-items:flex-end;
      width: 30%
    }

    .card-offered {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 2%;
      width: 80%;
    }

    .card-offered > * {
      padding: 1%;
      width: 100%;
    }

    .card-offered img{
      width: 15%;
    }
    
    .card-content {
      display: flex;
      flex-wrap: wrap;
      width: 80%;
      justify-content: center;
    }
    
    
.card-content h5 {
  text-align: center;
  margin: 20px 0;
}

.card-content p {
  text-align: justify;
  margin: 0 20px;
}

.card-reasons {
  margin: 40px 0;
}

.card-reasons h5 {
  text-align: center;
  margin-bottom: 20px;
}

.card-reasons h6 {
  text-align: center;
  margin: 20px 0;
}

.card-reasons p {
  text-align: justify;
  margin: 0 20px;
}

.review-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4% 0% 10% 0%;
}

.review-form label {
  margin: 10px 0;
}

.review-form input[type="number"],
.review-form input[type="text"] {
  padding: 10px;
  margin: 10px 0;
  width: 300px;
}

.review-form button[type="submit"], .button_enroll, .button_delete, .button_edit {
  padding: 10px 20px;
  background-color: #6495ed;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .detailsPage {
    padding: 20px;
  }

  .card-info,
  .card-skills,
  .card-features,
  .card-content,
  .card-reasons,
  .review-form {
    width: 100%;
    text-align: center;
  }


  .card-plan-Premium h3,
  .card-plan-Premium p,
  .card-info p,
  .card-skills p,
  .card-features h5,
  .card-features p,
  .card-content h5,
  .card-content p,
  .card-reasons h5,
  .card-reasons h6 {
    text-align: center;
    margin: 20px 0;
  }

  .card-features img,
  .card-content img {
    display: block;
    margin: 0 auto 20px;
  }

  .card-reasons p {
    margin: 0;
  }

  .review-form input[type="number"],
  .review-form input[type="text"] {
    width: 80%;
  }
  .review-form {
    padding-top: 0%;
    margin-top: -8%;
    padding-bottom: 20%;
  }

  .card-plan-Premium {
    width: 70%;
  }
  .card-plan-Premium a {
    width: 40%
  }
  .card-plan-Premium h2 {
    font-size: 1.2em;
    margin-bottom: 10px;

  }
  
  .card-plan-Premium h3 {
    font-size: 0.8em;
    margin-bottom: 10px;
  }
  .card-plan-Premium h1 {
    font-size: 0.8em;
  }
  .card-plan-Premium p {
    font-size: 1em;

  }
}

/*edit course and add new course */
/* 
.editCourse {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.editCourseForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.editCourseForm label {
  width: 150px;
  text-align: right;
  margin-right: 20px;
}

.editCourseForm input[type="text"],
textarea {
  width: 70%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.editCourseForm input[type="submit"] {
  width: 30%;
  padding: 10px;
  background-color: rgb(100, 149, 237);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .editCourseForm {
    width: 90%;
  }

  .editCourseForm label {
    width: 100%;
    text-align: left;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .editCourseForm input[type="text"],
  textarea {
    width: 100%;
  }
}
 */

 .editCourse {
  width: 40%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.editCourse h1 {
  color: var(--navbar);
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.editCourse hr {
  border: 1px solid var(--navbar);
}

.editCourse form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editCourse label {
  color: var(--h4);
  font-size: 18px;
  margin-top: 20px;
}

.editCourse input[type="text"],
.editCourse textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  border: 1px solid var(--navbar);
  border-radius: 5px;
}

.editCourse input[type="submit"] {
  width: 200px;
  padding: 10px;
  margin-top: 20px;
  background-color: var(--buttonBackground);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.editCourse input[type="submit"]:hover {
  background-color: var(--buttonsHover);
}

@media (max-width: 858px) {
  .editCourse {
    width: 70%;
    padding: 20px;
  }
  .editCourse h1 {
    color: var(--navbar);
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
  }
  .editCourseForm {
    max-width: 100%;
    padding: 10px;
  }

.editCourseForm label {
  display: block;
  font-weight: bold;
  margin-top: 20px;
  font-size: 14px;
  color: var(--h4);
}

.editCourseForm input[type="text"],
.editCourseForm textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.editCourseForm input[type="submit"] {
  background-color: var(--buttonBackground);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.editCourseForm input[type="submit"]:hover {
  background-color: var(--buttonsHover);
}
}

