{{!-- <h1>Great choice!</h1>
<p>Thank you for upgrading to premium membership. We appreciate your support!</p>
<img src="https://example.com/images/great-choice-image.jpg" alt="Great choice!" /> --}}

<div class="myCoursesContainer">
<h1>My Learning</h1>
{{#each courses}}
    <img width="300px" src={{this.image}} alt={{this.title}} />
    <h4>{{this.title}}</h4>
    <p>{{this.description}}</p>
{{/each}}
</div>
