<div class="myCourse">
   {{#if showWelcomeMessage}}
  <p>Thank you for upgrading to premium membership. We appreciate your support!</p>
  {{/if}}
  
  <div class="myCourseDetails">
          <h1>My Learning</h1>
          {{#each courses}}
          <div class="courseItem">
            <img class="courseImage" src={{this.image}} alt={{this.title}} />
            <div class="courseInfo">
              <h4>{{this.title}}</h4>
              <p>{{this.description}}</p>
      </div>
    </div>
    {{/each}}
  </div>

