{{!-- <h1>Great choice!</h1>
<p>Thank you for upgrading to premium membership. We appreciate your support!</p>
<img src="https://example.com/images/great-choice-image.jpg" alt="Great choice!" /> --}}

<div class="myCoursesContainer">
<h1>My Learning</h1>
{{#each courses}}
    <img width="300px" src={{this.image}} alt={{this.title}} />
    <h4>{{this.title}}</h4>
    <p>{{this.description}}</p>
{{/each}}
</div>

<footer class="mainFooter">
    <div class="container">
        <p>@2023 Course4U Inc. Todos los derechos reservados.</p>
            <div class="logo">
                <img
                  src="/images/SVG/LOGO/LOGO.svg"
                  alt="course4u logo"
                />
           </div>
        <div class="social-icons">
            <a href="#"><img
                src="/images/facebook-icon.png"
                class="facebook-logo"
              /></a>
            <a href="#"><img
                src="/images/instagram-icon.png"
                class="instagram-logo"
              /></a>
            <a href="#"><img
                src="/images/linkedin-icon.png"
                class="linkedin-logo"
              /></a>
            <a href="#"><img
                src="/images/twitter-icon.png"
                class="twitter-logo"
              /></a>
          </div>
        </div>
    </footer>