<div class="editCourse">
  <h1>Add New course </h1>
  <form class="editCourseForm" action="/courses/newCourse" method="post">
    <label>Category: </label>
    <input type="text" name="category" placeholder="{{course.category}}" />
    <label>Title:</label>
    <input type="text" name="title" placeholder="{{course.title}}" />
    <label>Description:</label>
    <input
      type="text"
      name="description"
      placeholder="{{course.description}}"
    />
    <label>Image: </label>
    <input type="text" name="image" placeholder="https://.../" />
    <label>Offered By: logo</label>
    <input type="text" name="logo" placeholder="https://.../" />
    <label>Place:</label>
    <input type="text" name="place" placeholder="{{offered.place}}" />
    <input type="submit" value="Add Course" />
  </form>
</div>