<div class="video-container">
  <iframe
    class="video-player"
    src="{{videoSrc}}"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
  ></iframe>
  <p>You've been trolled! &#x1F602;</p>
</div>
